@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@500;700&family=Roboto:wght@300;400;500;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply scroll-smooth;
  scroll-padding-top: 80px;
}
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  @apply bg-text;
}

::-webkit-scrollbar-thumb {
  @apply bg-gray-300 rounded-xl;
}

body .active ::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}

.hamburger-line {
  @apply w-7 h-[2px] my-2 block bg-secondary dark:bg-white rounded-full;
}

.hamburger-active > span:nth-child(1) {
  @apply rotate-45;
}
.hamburger-active > span:nth-child(2) {
  @apply w-0;
}

.hamburger-active > span:nth-child(3) {
  @apply -rotate-45;
}

.details {
  overflow-x: scroll; /* For horiz. scroll, otherwise overflow-y: scroll; */
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
  scrollbar-width: none;
}

.details::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}
